.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    background: linear-gradient(to bottom, #bcdcf7, #ffffff);
    margin: -10px;
    
}

header {
    grid-column: 1/2;
    grid-row: 1/2;
    overflow: hidden;
    margin: -10px;
    z-index: 1000;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
header li {
    float: right;
}
  
header li a {
    display: block;
    color: black;
    text-align: center;
    padding-top: 80px;
    padding-right: 60px;
    font-size: 1.4vw;
    text-decoration: none;
    font-family: 'Courier Prime', monospace;
}

.heading {
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    padding-top: 5%;
}

* {
    box-sizing: border-box;
  }

  .gallery {
    margin-right: 10%;
    margin-left: 10%;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
  .column img {
    margin-top: 12px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;

  }
  
  .gallery:after {
    content: "";
    display: table;
    clear: both;
  }

  .image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px; 
}
.image-container img {
    width: 100%;
    height: auto;
    border-radius: inherit; /* Inherit the border-radius from the container */
    transition: transform 0.3s ease; /* Transition for hover effect */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,black ,  #bcdcf7);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 0.3s ease; /* Transition for hover effect */
}

.overlay h3, .overlay p {
    color: #fff;
    margin: 0;
}

.overlay button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.image-container:hover .overlay {
    opacity: 1; /* Make the overlay visible on hover */
}
.image-container:hover .overlay {
    transform: translateY(-100%); /* Slide the overlay up on hover */
}
