.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    margin: -10px;
}

header {
    grid-column: 1/2;
    grid-row: 1/2;
    overflow: hidden;
    margin: -10px;
    z-index: 1000;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#bcdcf7;
  }
  
header li {
    float: right;
}
  
header li a {
    display: block;
    color: black;
    text-align: center;
    padding-top: 80px;
    padding-right: 60px;
    font-size: 1.4vw;
    text-decoration: none;
    font-family: 'Courier Prime', monospace;
}

.button-container {
    display: flex;
    justify-content: center;
}

.github-button,
.linkedin-button {
    display: inline-block;
    padding: 15px 25px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;

}

.github-button {
    background-color: #4078c0; 
}

.linkedin-button {
    background-color: #0077b5; 
}

.github-button:hover,
.linkedin-button:hover {
    background-color: #305f90; 
}

.content-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: -10px;
    margin-right: -10px;
    padding: 7%;
    padding-top: 10%;
    padding-bottom: 10%;
    background: linear-gradient(to bottom, #bcdcf7, #ffffff);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    
}

.content-2 #hi {
    color: #fe01cb;
    font-size: 20px;
    font-family: 'Courier Prime', monospace;

}

.content-2 h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.content-2 #prof {
    font-size: 25px;
    
}

.content-2 #about {
    font-size: 1.4vw;
}

html {
    scroll-behavior: smooth;
}

a {
  color: #fe01cb;
  text-decoration: none;
}


.scrollButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Courier Prime', monospace;
  font-size: 20px;     
  font-weight: bold;       
}

.scrollIcon {
  transform: rotate(90deg);
  display: inline-block;
  position: relative;
  animation: 2.5s scrollIcon infinite;
  color: #fe01cb;
}

@keyframes scrollIcon {
  0% {
    opacity: 0;
    top: 0; 
  } 
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 15px;
  }
}

.about {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5%;
}
.image-container img {
    height: 300px;
    border-radius: 100%;
}
 
.about h1 {
    font-size: 40px;
}

.about p {
    letter-spacing: 1px;
    font-size: 1.2em;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: lighter;
}

.exp {
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.exp-one {
    grid-column: 1/2;
    grid-row: 5/6;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto auto;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
 }

 .exp-two {
    grid-column: 1/2;
    grid-row: 6/7;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto auto;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
 }

 .exp-three {
    grid-column: 1/2;
    grid-row: 7/8;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto auto;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
 }

.position {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1.6em; 
}

.date {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: #777; 
    font-size: 1.2em;

}

.location {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-style: italic; 
    font-size: 1.2em;
    margin-top: -8px;


}

.responsibilities {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    list-style-type: none;
    padding-left: 0; 
    font-size: 1.2em;
    font-weight: lighter;
     
}

.responsibilities li {
    margin-bottom: 8px; 
    line-height: 1.4;
}

.lab-link:hover {
    background-color: rgba(200, 200, 200, 0.5); 
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    padding-right: 10px;
}

.lab-image {
    max-width: 20%;
    height: auto;
    margin-right: 10px; 
    vertical-align: middle;
    border-radius: 10px;
}

.lab-text {
    font-weight: bold;
    color: black; 
}