.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}

header {
    grid-column: 1/2;
    grid-row: 1/2;
    overflow: hidden;
    margin: -10px;
    z-index: 1000;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#bcdcf7;
  }
  
header li {
    float: right;
}
  
header li a {
    display: block;
    color: black;
    text-align: center;
    padding-top: 80px;
    padding-right: 60px;
    font-size: 1.4vw;
    text-decoration: none;
    font-family: 'Courier Prime', monospace;
}

.content-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: -10px;
    margin-right: -10px;
    padding: 7%;
    padding-top: 3%;
    background-color: #bcdcf7;
    height: 75vh;
    
}

.content-2 #hi {
    color: #fe01cb;
    font-size: 1.4vw;
    font-family: 'Courier Prime', monospace;

}

.content-2 h1 {
    font-size: 5vw;
}

.content-2 #about {
    font-size: 1.4vw;
}

html {
    scroll-behavior: smooth;
}

a {
  color: #fe01cb;
  text-decoration: none;
}


.scrollButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2vw;            
}

.scrollIcon {
  transform: rotate(90deg);
  display: inline-block;
  position: relative;
  animation: 2.5s scrollIcon infinite;
  color: #fe01cb;
}

@keyframes scrollIcon {
  0% {
    opacity: 0;
    top: 0; 
  } 
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 15px;
  }
}

.experiences {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto 1fr 1fr;
}

.experiences h1 {
    grid-template-columns: span 2;
    grid-row: 1/2;
    text-align: center;
}




